apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: hostpath
  volumeName: host-pv
  resources:
    requests:
      storage: 1Gi
  